/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(201, 201, 201);
}

/* Header Styles */
header {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
}

/* Styling of name in header */
header h1 {
    font-size: 30px;
    text-indent: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: #653fba;
    padding: 10px 30px 10px 10px;
    border-radius: 0 10px 10px 0;
}

/* Styling of navigation bar */
header nav {
    margin-right: 75px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* Styling of the items in the navigation bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 12px;
    vertical-align: middle;
    border-bottom: 3px solid currentColor;
    padding-bottom: 5px;
}

/* Styling of the links in the nav bar */
a {
    color: #fff;
    text-decoration: none;
}

/* Styling of the links in the nav bar when hovered */
a:hover {
    color: #653fba;
}

/* Main image on topstyles */
.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

/* Setting the width to have the main image fill the page */
.image {
    width: 100%;
    height: auto;
}

/* Styling of the text on the main image */
.imgSub {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

ul {
    list-style-type: none;
}

/* container */
.two-columns {
    padding-top: 20px;
    display: flex;
}

/* columns */
.two-columns > * {
    width: 100%;
    padding: 5rem;
}

/* Left side column Styling - Pre Line */
.two-columns > *:first-child {
    position: relative;
    width: 20%;
    font-size: 73px;
    color: #3d2275;
    padding-right: 7px;
    direction: rtl;
}

/* the line after each header */
.two-columns h2::after {
    content: "";
    display: block;
    width: 5px;
    height: 90%;
    background-color: #513294;
    position: absolute;
    left: 100%;
    top: 10px;
    border-radius: 5px;
}

/* styling of each right column */
.right-text {
    display: flex;
    font-size: 20px;
    margin: 20px;
    align-items: flex-start;
    color: rgb(0, 0, 0);
}

/* Styling of the contact section */
.contact {
    margin: 20px;
    margin-top: 60px;
    border-radius: 5px;
    border-bottom: 5px solid #513294;
    padding-bottom: 3px;
    color: #513294;
    white-space: nowrap;
}

.contact a {
    color: rgb(0, 0, 0);
    
}

.contact a:hover {
    color: #513294;
}

/* creating individual project boxes */
/* Parent container for projects */
/* changing the size of the font for projects */
.project-container a {
    font-size: 20px;
    padding-bottom: 3px;
    text-align: center;
}

.project-container a:hover {
    color: #000000;
}

.project-container {
    display: flex; 
    justify-content: center; 
    background-color: #513294;
    border-radius: 10px;
    
}

/* Individual project boxes */
.project {
    flex: 1 0 50%;
    max-width: 40%;
    margin: 30px;
    border-radius: 10px;
    /* border: 5px solid #513294; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-one {
    flex: 1 0 80%;
    max-width: 70%;
    margin: 0px 0px 0px 12%;
    border-radius: 10px;
    /* border: 5px solid #513294; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    border-radius: 10px;
}


/* Media Query for screens smaller than 768px */
/* @media (){

} */
