/* Styling of the main body biggest title headers */
/* main h2 {
    
} */

/* Styling of the main body smaller title headers */
main h3 {
    font-size: 30px;
}

/* Styling of the main body text */
.body-container .about,
.body-container .projects,
.body-container .contact,
.body-container .resume {
    margin: 20px;
    padding: 20px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text,
.projects-text,
.contact-text,
.resume-text {
    margin-right: 20px;
    padding: 20px;
    /* padding-right: 200px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.projects-base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    position: relative;
    font-size: 45px;
    padding-left: 20px;
    padding-top: 50px;
} 




h2::after {
    content: "";
    display: block;
    width: 4px; /* Adjusts the width of the line */
    height: 100px; /*Adjusts the height of the line */
    background-color: #000; /*Adjusts the color of the line */
    position: absolute;
    left: 20%; /*Adjusts the position of the line */
    top: 0;
}




/* later */

/* Styling of the header in the main body */
.body-container h2 {
    position: relative;
    margin-left: 20px; 
    margin-top: 15px;
    font-size: 50px;
    padding: 20px;
}

/* Styling of the unordered list in the main body 
getting rid of the points*/
ul {
    list-style-type: none;
}

/* Styling of the main body text under the header */
.about-text, .project, .contact, .resume-text {
    margin: 20px;
    padding: 20px;
    margin-left: 390px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}


/* adding the verticle line after the header */
.body-container h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 72%; /* Adjust this value to position the line correctly */
    height: 100%; /* This will create a line as tall as the h2 element */
    width: 3px; /* This will create a thin line */
    background-color: black; /* Adjust the color as needed */
}

/*  morreee */

/* Styling of the main body */
.body-container {
    
    flex-direction: column;
    color: #fff;
    display: inline-block;
}


/* Styling of the header in the main body */
.body-container h2 {
    position: relative;
    margin-left: 20px; 
    margin-top: 15px;
    font-size: 50px;
    padding: 20px;
}

/* Styling of the unordered list in the main body 
getting rid of the points*/
ul {
    list-style-type: none;
}

/* Styling of the main body text under the header */
.about-text, .project, .contact, .resume-text > * {
    margin: 20px;
    padding: 20px;
    margin-left: 390px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}


/* adding the verticle line after the header */
.body-container h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 77%; /* Adjust this value to position the line correctly */
    height: 100%; /* This will create a line as tall as the h2 element */
    width: 3px; /* This will create a thin line */
    background-color: black; /* Adjust the color as needed */
}